<ng-container *transloco="let t; read: 'profile.create'">
    <div class="mat-typography">
        <h1>{{ t('title') }}</h1>
    </div>
    <form class="grid-form" [formGroup]="registerForm">
        <app-avatar-editor formControlName="avatarUrl"></app-avatar-editor>
        <mat-form-field>
            <mat-label>{{ t('username.label') }}</mat-label>
            <input #usernameInput formControlName="username" matInput placeholder="Type here" minlength="2" maxlength="20" />
            <mat-error *rxIf="username?.invalid && (username?.dirty || username?.touched)">{{ usernameErrorMessage }}</mat-error>
            <mat-spinner matSuffix diameter="20" *rxIf="pending$"></mat-spinner>
            <mat-hint align="start">{{ t('username.hint') }}</mat-hint>
            <mat-hint align="end">{{ username?.value?.length ? username?.value?.length : 0 }} / 20</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('displayName.label') }}</mat-label>
            <input formControlName="displayName" matInput placeholder="Type here" maxlength="50" />
            <mat-hint align="start">{{ t('displayName.hint') }}</mat-hint>
        </mat-form-field>
    </form>
    <button
        class="action-button"
        *rxIf="unregistered(); else loadingButton"
        mat-raised-button
        color="primary"
        (click)="register()"
        [disabled]="disabled$ | push">
        <mat-icon svgIcon="far:user-plus"></mat-icon>
        <span>{{ t('actions.create') }}</span>
    </button>
    <ng-template #loadingButton>
        <button class="action-button" *rxIf="loading(); else redirectButton" mat-raised-button disabled>
            <mat-spinner class="mdc-button__icon" diameter="20"></mat-spinner>
            {{ t('actions.loading') }}
        </button>
    </ng-template>
    <ng-template #redirectButton>
        <button class="action-button" mat-raised-button disabled>
            {{ t('actions.redirect') }}
        </button>
    </ng-template>
</ng-container>
