<ng-container *transloco="let t">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="primary" class="upload-button">
        <div class="mat-content-wrapper">
            <mat-icon svgIcon="far:cloud-arrow-up"></mat-icon>
            <span *rxIf="isFull$" @textAnimation (@textAnimation.start)="sidebarService.animationStart($event)" (@textAnimation.done)="sidebarService.animationDone($event)">{{ t('sidebar.upload') }}</span>
        </div>
    </button>
    <input type="file" class="file-input" (change)="handleFileSelected($event)" #fileUpload multiple />
    <mat-menu #menu="matMenu" class="upload-menu">
        <button mat-menu-item (click)="fileUpload.click()">
            <mat-icon svgIcon="far:files" matListItemIcon></mat-icon>
            <span matListItemTitle>{{ t('sidebar.upload-files') }}</span>
        </button>
        <button mat-menu-item (click)="browseDirectory()" disabled>
            <mat-icon svgIcon="far:folder-plus"></mat-icon>
            <span>{{ t('sidebar.upload-folder') }}</span>
        </button>
    </mat-menu>
    <nav class="navigation">
        <a *rxFor="let item of navigation$; trackBy: trackNavItem" [routerLink]="item.disabled ? null : [item.link]" class="navigation-link"
            rel="noopener noreferrer" routerLinkActive="active" queryParamsHandling="preserve" #rla="routerLinkActive"
            [matTooltip]="t(item.label)" matTooltipClass="rh-tooltip" matTooltipPosition="after"
            [matTooltipDisabled]="isFull$ | push" [class.disabled]="item.disabled ?? false">
            <mat-icon [svgIcon]="$any(rla.isActive ? item.activeIcon : item.icon)"></mat-icon>
            <span *rxIf="isFull$" @textAnimation>{{ t(item.label) }}</span>
        </a>
    </nav>
</ng-container>