<ng-container *transloco='let t'>
    <app-upload-trigger></app-upload-trigger>
    <app-avatar [matMenuTriggerFor]="menu" #trigger></app-avatar>
    <mat-menu #menu="matMenu" class="user-menu">
        <ng-container #wallet></ng-container>
        <!-- <app-account (click)="$event.stopPropagation()"></app-account> -->
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="profile" disabled>
            <mat-icon svgIcon="far:user"></mat-icon>
            <span>{{ t('navigation.profile') }}</span>
        </button>
        <button mat-menu-item routerLink="invites">
            <mat-icon svgIcon="far:envelope"></mat-icon>
            <span>{{ t('navigation.invites') }}</span>
        </button>
        <button mat-menu-item routerLink="settings">
            <mat-icon svgIcon="far:gear"></mat-icon>
            <span>{{ t('navigation.settings') }}</span>
        </button>
        <button mat-menu-item routerLink="canisters">
            <mat-icon svgIcon="far:database"></mat-icon>
            <span>{{ t('navigation.canisters') }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="authService.signOut()">
            <mat-icon svgIcon="far:arrow-right-from-bracket"></mat-icon>
            <span>{{ t('application.sign-out') }}</span>
        </button>
    </mat-menu>
</ng-container>