<ng-container *transloco="let t; read: 'canisters'">
    <header class="mat-h1">
        <h1>{{ t('journals') }}</h1>
    </header>
    <div class="cards">
        <ng-container *rxIf="journals().length > 0; else empty">
            <app-canister-card disableDelete *rxFor="let data of journals(); trackBy: 'canisterId'" [data]="data"></app-canister-card>
        </ng-container>
    </div>
    <br />
    <header class="mat-h1">
        <h1>{{ t('storages') }}</h1>
    </header>
    <div class="cards">
        <ng-container *rxIf="storages().length > 0; else empty">
            <app-canister-card *rxFor="let data of storages(); trackBy: 'canisterId'" [data]="data"></app-canister-card>
        </ng-container>
    </div>
    <ng-template #empty>
        <app-empty-card></app-empty-card>
    </ng-template>
</ng-container>
