<ng-container *transloco="let t; read: 'profile.create'">
    <main class="create-profile">
        <img height="100" src="../../../assets/logo-rabbit.svg" alt="{{ t('application.title', { read: '' }) }}" />
        <mat-card class="mat-typography">
            <mat-card-header>
                <mat-card-title>{{ t('title') }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="grid-form" [formGroup]="createProfileForm">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('username.label') }}</mat-label>
                        <input formControlName="username" matInput placeholder="Type here" minlength="2" maxlength="20" />
                        <mat-error *ngIf="usernameErrorMessages$ | async as errorMessages">
                            <ng-container *ngIf="errorMessages.length && (username?.touched || username?.dirty)">
                                <ng-container *ngFor="let message of errorMessages">{{ message }}<br /></ng-container>
                            </ng-container>
                        </mat-error>
                        <mat-spinner matSuffix diameter="20" *ngIf="username?.pending"></mat-spinner>
                        <mat-hint align="start">{{ t('username.hint') }}</mat-hint>
                        <mat-hint align="end">{{ username?.value?.length ? username?.value?.length : 0 }} / 20</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('displayName.label') }}</mat-label>
                        <input formControlName="displayName" matInput placeholder="Type here" maxlength="50" />
                        <mat-hint align="start">{{ t('displayName.hint') }}</mat-hint>
                        <!--<mat-hint align="end">{{ displayName?.value.length }} / 50</mat-hint>-->
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" (click)="create()" [disabled]="createProfileForm.invalid || (loading$ | async)" class="has-icon">
                    <!--<fa-icon icon="user-plus"></fa-icon>-->
                    <mat-icon svgIcon="far:user-plus"></mat-icon>
                    <span>{{ t('create') }}</span>
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </main>
</ng-container>

