:host {
    padding: .5rem;
}

.item {
    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-rows: 1fr minmax(36px, auto);
    grid-area: item;
    align-items: start;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 100ms ease-in-out;
}

mat-icon.file-icon {
    width: auto;
    height: 74px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    font-size: 0.875rem;
    //height: 1.75rem;
    word-break: break-word;
    //line-height: .875rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.size {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    white-space: nowrap;
}

.icon-container {
    display: flex;
    justify-content: center;
    height: 74px;
    align-items: flex-end;
    position: relative;

    .status {
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        display: grid;
        font-size: .6875rem;
        padding: .125rem .25rem;
        border-radius: .5rem;
        font-weight: 300;
        white-space: nowrap;
        place-items: center;
        position: absolute;
        left: 0;
    }
}

.thumbnail {
    user-select: none;
    pointer-events: none;
    border-radius: 3px;
}

.mat-mdc-card {
    display: flex;
    // flex-direction: row;
}

.image {
    display: flex;
    grid-area: image;
}