@use '@angular/material' as mat;
@use 'variables';
// @import 'src/app/features/file-list/components/grid-list-item/grid-list-item.light-theme';

$rabbithole-light-primary: mat.define-palette(mat.$indigo-palette, 700);
$rabbithole-light-accent: mat.define-palette(mat.$light-blue-palette);
$rabbithole-light-warn: mat.define-palette(mat.$pink-palette, 600);
$rabbithole-light-theme: mat.define-light-theme(
    (
        color: (
            primary: $rabbithole-light-primary,
            accent: $rabbithole-light-accent,
            warn: $rabbithole-light-warn
        ),
        typography: variables.$typography,
        density: 0
    )
);

@include mat.all-component-themes($rabbithole-light-theme);

.light-theme {
    --body-bg: #f5f6fa;
    // --body-bg: #fff;
    // --content-bg: #f5f5f5;
    --content-bg: #fff;
    // --header-bg-color: #f7f8fa;
    --avatar-bg-color: #d9d9d9;
    --header-bg-color: #fff;
    --header-border-bottom-color: #f6f6f6;
    --header-border-bottom-width: 1px;
    // --content-bg: #{mat.get-color-from-palette(mat.$gray-palette, lighten())};
    // --sidebar-bg-color: #fff;
    --sidebar-bg-color: #f8f9fa;
    // --sidebar-border-right-color: #e4e8f0;
    // --sidebar-border-right-color: #f6f6f6;
    --sidebar-border-right-color: #efefef;
    --sidebar-border-right-width: 1px;
    --navlink-color-active: #{mat.get-color-from-palette($rabbithole-light-primary)};
    --navlink-color-hover: #4461f8;
    --footer-border-top: 1px solid #f5f6f7;
    --primary-color: #{mat.get-color-from-palette($rabbithole-light-primary)};
    --warn-color: #{mat.get-color-from-palette($rabbithole-light-warn)};
    --accent-color: #{mat.get-color-from-palette($rabbithole-light-accent)};
}
