.uploading-overlay-pane .mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 460px;
    max-width: 460px;
    min-height: 160px;
    display: grid;

    .mat-mdc-tab-label {
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: auto;
    }

    .mat-mdc-tab-body-content {
        display: grid;
        // grid-row-gap: 1rem;
        // padding: 1rem;
    }
}
