<mat-drawer-container class="container" autosize>
    <mat-drawer-content>
        <mat-progress-bar *rxIf="loading$" mode="indeterminate"></mat-progress-bar>
        <app-sidebar></app-sidebar>
        <div class="wrapper">
            <app-header></app-header>
            <main [@routeAnimations]="hasRouteAnimations" cdkScrollable>
                <router-outlet></router-outlet>
            </main>
            <app-footer></app-footer>
        </div>
    </mat-drawer-content>
    <mat-drawer mode="over" position="end">
        <router-outlet name="sidebar-right"></router-outlet>
    </mat-drawer>
</mat-drawer-container>
