<ng-container *transloco="let t">
    <div class="login">
        <!-- <img height="100" src="../../../assets/logo.svg" alt="Rabbit Hole" /> -->
        <app-logo [expanded]="true"></app-logo>
        <button mat-raised-button disabled *rxIf="initialized(); else signIn">
            <mat-spinner class="mdc-button__icon" diameter="20"></mat-spinner>
            {{ t('application.sign-in-redirect') }}
        </button>
        <ng-template #signIn>
            <button mat-raised-button (click)="authService.signIn()" color="primary">
                <mat-icon svgIcon="ic:dfinity"></mat-icon>
                {{ t('application.sign-in') }}
            </button>
        </ng-template>
    </div>
</ng-container>
