<div class="item">
    <div class="icon-container">
        <ng-container *rxIf="journalService.isFile(data); else folderTemplate">
            <ng-container *rxIf="!data.thumbnailUrl; else thumbTemplate">
                <mat-icon class="file-icon" [svgIcon]="getIconByExt(data.name)"></mat-icon>
                <ng-container [ngTemplateOutlet]="statusBadge"></ng-container>
            </ng-container>
            <ng-template #thumbTemplate>
                <img class="thumbnail" [src]="$any(data.thumbnailUrl)" alt="" />
                <ng-container [ngTemplateOutlet]="statusBadge"></ng-container>
            </ng-template>
            <div class="badge" *rxIf="data.share">
                <mat-icon *rxIf="isSharedPublic; else sharedWithUsers" svgIcon="far:link"></mat-icon>
                <ng-template #sharedWithUsers>
                    <mat-icon svgIcon="far:share-nodes"></mat-icon>
                </ng-template>
            </div>
        </ng-container>
        <ng-template #folderTemplate>
            <ng-container *rxIf="journalService.isDirectory(data)">
                <!--<mat-icon svgIcon="filetype:folder" [class]="'folder folder&#45;&#45;' + (loading || disabled ? 'gray' : folderColor)">
                        &lt;!&ndash;<ng-container [ngTemplateOutlet]="progressTemplate"></ng-container>&ndash;&gt;
                    </mat-icon>-->
                <app-animated-folder [color]="loading || disabled ? 'gray' : data.color" [active]="active">
                    <!-- <mat-icon class="folder-cover-icon" icon svgIcon="far:lock"></mat-icon> -->
                </app-animated-folder>
            </ng-container>
        </ng-template>
        <ng-template #statusBadge>
            <div *rxIf="showStatus()" class="status">{{ status() }}</div>
        </ng-template>
        <!--<div class="spinner-wrapper spinner-wrapper&#45;&#45;loading" *ngIf="loading" @zoomOutOnLeave>
            <mat-spinner mode="indeterminate" diameter="20"></mat-spinner>
        </div>-->
        <!--<div class="spinner-wrapper spinner-wrapper&#45;&#45;success" *ngIf="statusIcon$ | async" [@zoomInOnEnter]="statusAnimationParams" [@zoomOutOnLeave]="statusAnimationParams">
            <fa-icon icon="check"></fa-icon>
        </div>-->
        <!-- <div class="progress-wrapper" *rxIf="loading" @fadeOutDownOnLeave>
            <mat-progress-bar mode="indeterminate" class="folder"></mat-progress-bar>
        </div> -->
    </div>
    <div class="info">
        <div class="title">{{ data.name }}</div>
    </div>
</div>
