<div class="item">
    <div class="icon-container">
        <ng-container *rxIf="journalService.isDirectory(data)">
            <!--<mat-icon svgIcon="filetype:folder" [class]="'folder folder&#45;&#45;' + (loading || disabled ? 'gray' : folderColor)">
                    &lt;!&ndash;<ng-container [ngTemplateOutlet]="progressTemplate"></ng-container>&ndash;&gt;
                </mat-icon>-->
            <app-animated-folder [color]="loading || disabled ? 'gray' : data.color" [active]="active ?? false">
                <!-- <mat-icon class="folder-cover-icon" icon svgIcon="far:lock"></mat-icon> -->
            </app-animated-folder>
        </ng-container>
        <ng-container *rxIf="journalService.isFile(data)">
            <mat-icon *rxIf="!data.thumbnailUrl; else thumbTemplate" class="file-icon" [svgIcon]="getIconByExt(data.name)"></mat-icon>
            <!-- <div class="badge" *rxIf="data.encrypted">
                <mat-icon svgIcon="far:lock"></mat-icon>
            </div> -->
            <ng-template #thumbTemplate>
                <img class="thumbnail" [src]="data.thumbnailUrl" alt="" />
            </ng-template>
        </ng-container>
        <!--<div class="spinner-wrapper spinner-wrapper&#45;&#45;loading" *ngIf="loading" @zoomOutOnLeave>
            <mat-spinner mode="indeterminate" diameter="20"></mat-spinner>
        </div>-->
        <!--<div class="spinner-wrapper spinner-wrapper&#45;&#45;success" *ngIf="statusIcon$ | async" [@zoomInOnEnter]="statusAnimationParams" [@zoomOutOnLeave]="statusAnimationParams">
            <fa-icon icon="check"></fa-icon>
        </div>-->
        <div class="progress-wrapper" *rxIf="loading" @fadeOutDownOnLeave>
            <mat-progress-bar mode="indeterminate" class="folder"></mat-progress-bar>
        </div>
    </div>
    <div class="info">
        <div class="title">{{ data.name }}</div>
        <!--<div class="description">lorem ipsum</div>-->
    </div>
</div>

<!--<ng-template #progressTemplate>
    <fa-icon icon="check"></fa-icon>
</ng-template>-->
