<ng-container [ngSwitch]="type$ | async">
    <ng-container *ngSwitchCase="'folder'">
        <app-animated-folder class="small"></app-animated-folder>
    </ng-container>
    <ng-container *ngSwitchCase="'file'">
        <mat-icon [svgIcon]="icon$ | async"></mat-icon>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div class="stack">
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <span class="badge">{{ count$ | async }}</span>
        </div>
    </ng-container>
</ng-container>
