<ng-container *rxLet="mode(); let m">
    <ng-container *rxIf="isFolder(m)">
        <app-animated-folder class="small"></app-animated-folder>
    </ng-container>
    <ng-container *rxIf="isSingleFile(m)">
        <mat-icon [svgIcon]="m.icon"></mat-icon>
    </ng-container>
    <ng-container *rxIf="isStack(m)">
        <div class="stack">
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <mat-icon [svgIcon]="blankIcon"></mat-icon>
            <span class="badge">{{ m.count }}</span>
        </div>
    </ng-container>
</ng-container>
