@use '@angular/material' as mat;

:host {
    background-color: var(--header-bg-color);
    grid-area: header;
    border-bottom: var(--header-border-bottom-width) solid var(--header-border-bottom-color);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'sidebar-toggle header-portal avatar';
    align-items: center;
    grid-column-gap: 1rem;
    padding: 0 1rem;
    // @include mat.elevation(2);
    app-avatar {
        grid-area: avatar;
    }
}

.sidebar-toggle {
    grid-area: sidebar-toggle;
    $size: 20px;
    --mdc-icon-button-state-layer-size: 40px;
    --mdc-icon-button-icon-size: #{$size};
    .mat-icon {
        width: $size;
        height: $size;
        font-size: $size;
    }
}

.header-portal-outlet {
    grid-area: header-portal;
    display: grid;
}
