<div [class]="'folder folder--' + color">
    <div class="folder-img folder-img--back">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="65" viewBox="0 0 80 65">
            <path
                d="M5 0h20.84a5 5 0 0 1 3.986 1.98l3.998 5.278 41.156-.082a5 5 0 0 1 5.02 5v47.902a5 5 0 0 1-5.005 5l-70-.073a5 5 0 0 1-4.995-5V5.297C0 2.535 2.239 0 5 0Z" />
        </svg>
    </div>
    <div class="folder-paper"></div>
    <div class="folder-img folder-img--cover">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="65" viewBox="0 0 80 65">
            <rect width="80" height="55" y="10" fill="fillColor" rx="5" />
        </svg>
    </div>
</div>
