<ng-container *transloco="let t; read: 'fileList'">
    <app-page-header [class.dragging]="dragging$ | push">My Drive</app-page-header>
    <ng-container *ngIf="hasItems$ | push; else empty">
        <app-grid-list [items]="items$ | push" (openContext)="handleContextMenu($event)"></app-grid-list>
    </ng-container>
    <ng-template #empty>
        <app-empty (contextmenu)="handleEmptyContextMenu($event)"></app-empty>
    </ng-template>
    <ng-container *rxLet="contextMenuData$; let data">
        <button #itemsTrigger mat-button [matMenuTriggerFor]="itemsMenu" [matMenuTriggerData]="data" [matMenuTriggerRestoreFocus]="false"></button>
    </ng-container>
    <input type="file" class="file-input" (change)="handleFileSelected($event)" #fileUpload multiple />
    <mat-menu #itemsMenu="matMenu" hasBackdrop="false" class="context-menu">
        <ng-template matMenuContent let-items="items" let-everyFile="everyFile" let-everyFolder="everyFolder" let-someFile="someFile" let-someFolder="someFolder">
            <ng-container [ngSwitch]="items.length">
                <ng-container *ngSwitchCase="0">
                    <ng-container [ngTemplateOutlet]="emptyAreaTemplate"></ng-container>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <ng-container [ngTemplateOutlet]="contextItemsTemplate" [ngTemplateOutletContext]="{ items, everyFile, everyFolder, someFile, someFolder }"></ng-container>
                </ng-container>
            </ng-container>
        </ng-template>
    </mat-menu>
    <ng-template #emptyAreaTemplate>
        <button mat-menu-item (click)="openCreateDirectoryDialog($event)">
            <mat-icon svgIcon="far:folder-plus"></mat-icon>
            <span>{{ t('context.createFolder') }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="fileUpload.click()">
            <mat-icon svgIcon="far:files"></mat-icon>
            <span>{{ t('context.uploadFiles') }}</span>
        </button>
        <!--<button mat-menu-item>
            <mat-icon svgIcon="far:folder-plus"></mat-icon>
            <span>{{ 'sidebar.upload-folder' | translate }}</span>
        </button>-->
    </ng-template>
    <ng-template #contextItemsTemplate let-items="items" let-everyFile="everyFile" let-everyFolder="everyFolder" let-someFile="someFile" let-someFolder="someFolder">
        <!--<h3 *ngFor="let item of items" class="mat-typography">{{ item.name }} [{{ item.id }}]</h3>-->
        <ng-container *rxIf="everyFolder">
            <div class="choose-color">
                <div class="label" [innerHTML]="t('context.color', { color: nextColor })"></div>
                <div class="tag-colors">
                    <span
                        *rxFor="let color of folderColors"
                        [class]="'tag-color tag-color--' + color"
                        (mouseenter)="nextColor = color"
                        (mouseleave)="nextColor = ''"
                        (click)="folderColor = color">
                        <mat-icon svgIcon="far:plus"></mat-icon>
                    </span>
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
        
        <!--<button mat-menu-item (click)="handleItemsAction('open')">
            <mat-icon svgIcon="far:trash-can"></mat-icon>
            &lt;!&ndash;<span translate [translateParams]="{ count: items?.length }">file-list.actions.remove</span>&ndash;&gt;
            <span>Open</span>
        </button>-->
        <button *rxIf="everyFile" mat-menu-item class="warn" (click)="handleItemsAction('download', items)">
            <mat-icon svgIcon="far:download"></mat-icon>
            <span>{{ t('actions.download', { count: items?.length }) }}</span>
        </button>
        <button mat-menu-item class="warn" (click)="handleItemsAction('remove', items)">
            <mat-icon svgIcon="far:trash-can"></mat-icon>
            <span>{{ t('actions.remove', { count: items?.length }) }}</span>
        </button>
    </ng-template>
</ng-container>