<ng-container *transloco="let t; read: 'fileList.directory.create'">
    <h1 mat-dialog-title>{{ t('renameTitle', { type: data.item.type }) }}</h1>
    <form [formGroup]="form">
        <mat-dialog-content class="mat-typography">
            <mat-form-field>
                <mat-label>{{ t('name.label', { type: data.item.type }) }}</mat-label>
                <input formControlName="name" matInput />
                <mat-error *rxIf="errorMessage.length && (name?.touched || name?.dirty)">{{ errorMessage }}</mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>{{ t('actions.cancel') }}</button>
            <button mat-raised-button color="primary" [mat-dialog-close]="{ name: name?.value }" [disabled]="form.invalid">
                {{ t('actions.save') }}
            </button>
        </mat-dialog-actions>
    </form>
</ng-container>
