<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z0">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{ 'invites.table.id' | transloco }}</th>
        <td mat-cell *matCellDef="let item">
            <app-copy-id [content]="item.id"></app-copy-id>
        </td>
    </ng-container>

    <ng-container matColumnDef="cycles">
        <th mat-header-cell *matHeaderCellDef>{{ 'invites.table.cycles' | transloco }}</th>
        <td mat-cell *matCellDef="let item">
            <div class="flex-line">
                {{ item.cyclesFormatted }} TCycles
                <mat-icon class="info-icon" svgIcon="far:circle-info" matTooltip="{{ item.cycles }} Cycles"></mat-icon>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'invites.table.status' | transloco }}</th>
        <td mat-cell *matCellDef="let item">{{ item.status }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'invites.table.createdAt' | transloco }}</th>
        <td mat-cell *matCellDef="let item">{{ item.createdAt | translocoDate: { dateStyle: 'medium', timeStyle:
            'medium' } }}</td>
    </ng-container>

    <ng-container matColumnDef="expiredAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'invites.table.expiredAt' | transloco }}</th>
        <td mat-cell *matCellDef="let item">
            {{ item.expiredAt | translocoDate: { dateStyle: 'medium', timeStyle: 'medium' } }}
            <mat-icon class="info-icon" svgIcon="far:circle-info"
                [matTooltip]="getDateDistance(item.expiredAt)"></mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'invites.table.actions' | transloco }}</th>
        <td mat-cell *matCellDef="let item">
            <ng-container [ngSwitch]="item.loading">
                <mat-spinner diameter="16" *ngSwitchCase="true"></mat-spinner>
                <ng-container *ngSwitchDefault>
                    <button mat-icon-button type="button" class="delete-button" color="warn"
                        (click)="action.emit({ type: 'delete', id: item.id })" *ngIf="item.status == 'active'">
                        <mat-icon svgIcon="far:trash-can"></mat-icon>
                    </button>
                </ng-container>
            </ng-container>
        </td>
    </ng-container>

    <tr *matNoDataRow>
        <td colspan="6">
            <app-empty icon="pack" size="small"></app-empty>
        </td>
    </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of invites"></mat-paginator>
<ng-content></ng-content>